[core]
	excludesfile = ~/.gitignore
	editor = nvim
[user]
	name = Roman Komkov
	useConfigOnly = true
[commit]
	verbose = true
[alias]
	co = checkout
	s = status -s -b
	b = branch
	f = fetch
	; fixup = "!sh -c '(git diff-files --quiet || (echo Unstaged changes, please commit or stash with --keep-index; exit 1)) && COMMIT=$(git rev-parse $1) && git commit --fixup=$COMMIT && EDITOR=true git rebase -i --autosquash $COMMIT~1' -"
	fixup = "!f() { TARGET=$(git rev-parse "$1"); git commit --fixup=$TARGET ${@:2} && EDITOR=true git rebase -i --autostash --autosquash $TARGET^; }; f"
	fixprev = "!f() { SHA=$(git rev-parse HEAD) && REV=$(git rev-parse $SHA) && git commit --fixup $SHA && EDITOR=true git rebase -i --autosquash $REV^; }; f -"
	c = commit
	mt = mergetool
	ps = push
	pst = push --tags
	pl = pull
	lol = log --graph --decorate --pretty=oneline --abbrev-commit
	lola = log --graph --decorate --pretty=oneline --abbrev-commit --all
	sa = stash apply
	sl = stash list --pretty=format:'%Cblue%h %Cred* %C(yellow)%s'
	in = "!git remote update -p; git log ..@{u}"
	out = log @{u}..
	sh = describe --always
	undo = checkout --
	unstage = reset -q HEAD --
	d = difftool
[push]
	default = current
	followTags = true
[filter "media"]
	clean = git-media-clean %f
	smudge = git-media-smudge %f
[color]
	branch = auto
	diff = auto
        interactive = auto
        status = auto
[diff]
	prompt = true
	tool = nvimdiff2
[merge]
	prompt = true
	tool = nvimdiff4
[github]
	user = decayofmind
[difftool]
	prompt = false
[diff "sopsdiffer"]
	textconv = sops -d
[mergetool "nvimdiff4"]
	cmd = nvim -d $LOCAL $BASE $REMOTE $MERGED -c '$wincmd w' -c 'wincmd J'
[mergetool "nfugitive"]
	cmd = nvim -f -c "Gdiff" "$MERGED"
[diff]
	tool = nvimdiff2
[difftool "nvimdiff2"]
	cmd = nvim -d $LOCAL $REMOTE
[diff "plist"]
	textconv = plutil -convert xml1 -o -
[init]
	templateDir = /Users/rk/.git-template
